apiVersion: apps/v1
kind: Deployment
metadata:
  name: posts-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: posts
  # Here is where we specify the exact configuration of a pod that we want this deployment to create
  template:
    metadata:
      labels:
        app: posts
    # pod spec or a pod config file, similar when we create a single pod via yaml
    spec:
      containers:
        - name: posts
          image: andres1997/posts
---
apiVersion: v1
kind: Service
metadata:
  name: posts-clusterip-srv
spec:
  selector:
    app: posts
  type: ClusterIP
  ports:
    - name: posts
      protocol: TCP
      port: 4000
      targetPort: 4000
